<div class="container">
  <div class="row" style="padding: 10px 0;">
    <div class="col-xs-6" style="white-space: nowrap">
      <a href="#"><div style="height: 30px; width: 45px; display: inline-block; border: 1px solid hsl(0, 0%, 83%);"><%= Icon64 'eng' %></div><span>English</span></a>
      <a class="hidden" href="#"><div style="height: 30px; width: 45px; display: inline-block; border: 1px solid hsl(0, 0%, 83%);"><%= Icon64 'rus' %></div><span>Русский</span></a>
    </div>
    <div class="col-xs-6 text-right">Вход/Регистрация</div>
  </div>
  <nav class="navbar_64 fragment64">
    <div class="navbar_64__links row justify--sa align_center">
      <div class="col-lg-4">
        <div class="col-lg-4"><a class="text_link_64" href="#"><%= t('navigation.news') %></a></div>
        <div class="col-lg-4"><a class="text_link_64" href="#"><%= t('navigation.subscribe') %></a></div>
        <div class="col-lg-4"><a class="text_link_64" href="#"><%= t('navigation.oscar') %></a></div>
      </div>
      <div class="col-lg-4">
        <div class="navbar64__links__logo">
          <a href="/">
            <div class="navbar64_logo__64"><%= Icon64 'logo64' %></div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-4"><a class="text_link_64" href="#"><%= t('navigation.archive') %></a></div>
        <div class="col-lg-4"><a class="text_link_64" href="#"><%= t('navigation.photo_stock') %></a></div>
        <div class="col-lg-4"><a class="text_link_64" href="/contacts"><%= t('navigation.contacts') %></a></div>
      </div>
    </div>
  </nav>
</div>